.header {
  a {
    font-family: "Asul";
    position: fixed;
    top: 20px;
    right: 0;
    width: 100%;
    text-decoration: none;
    color: #CC0000;
    text-align: right;
    background-color: #f6f6f6;
    padding: 20px;
    &:hover {
      color: black;
    }
  }
}
