.header {
  font-family: "Asul";
  width: 100%;
  text-align: right;
  box-sizing: border-box;
  a {
    padding: 20px;
    display: block;
    text-decoration: none;
    color: #CC0000;

    span {
      border-bottom: 1px solid rgba(255,255,255,0);
      transition: all 200ms ease-out;
    }

    transition: all 200ms ease-out;

    &:hover {
      color: black;
      span {
        border-bottom-color: currentColor;
      }
    }
  }
}
