.oatmeal {
  h1, p, h5 { margin: 0; }

  max-width: 600px;
  padding: 10px;
  margin: auto;
  margin-top: 100px;
  font-size: 16px;
  h1 {
    font-family: "Vollkorn";
    font-style: italic;
    font-size: 44px;
    font-weight: 900;
    text-align: center;
  }
  h5 {
    font-family: "Source Sans Pro";
    font-weight: 300;
    font-style: italic;
    font-size: inherit;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 5px;
  }
  article {
    column-count: 2;
    column-width: 240px;
    column-gap: 27px;
    p {
      font-family: "Lora";
      line-height: 24px;
      font-size: inherit;
      margin-bottom: 20px;
    }
  }
}
